body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #825CFF;
  font-size: 2rem;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input#stock-input {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button#search-btn {
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px;
  background-color: #825CFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button#search-btn:hover {
  background-color: #6b4ae8;
}

#stock-card {
  margin-bottom: 24px;
}

.stock-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.stock-card h2 {
  color: #825CFF;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.extra-data {
  margin-top: 1rem;
  padding-top: 0.75rem;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
}

.extra-data h4 {
  margin-bottom: 0.5rem;
}

.extra-data p {
  margin: 0.25rem 0;
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;

  width: 90%;
  max-width: 400px;
  max-height: 70vh;

  overflow-y: auto;
}

#picker-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

#picker-list li {
  padding: 0.75rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

#picker-list li:hover {
  background-color: #f5f5f5;
}

#close-modal {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.watchlist-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px;
}

.watchlist-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.watchlist-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  cursor: pointer;
}